
body {
    background: darkgray;
}

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.cards-container {
    background: green;
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    width: 200px;
    background: rgb(255, 174, 87);
    
    border: solid black 2px;
    border-radius: 5%;
    margin: 2% 0 2% 3%;
    
    display: flex;
    flex-direction: column;
    
    font-family: 'Open Sans', sans-serif;
    color: rgb(77, 40, 0);
}

.booktitle {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    
    text-align: center;
    
    margin: 10% 5% 0 5%;
}

.author {
    text-align: center;
    
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}

.genre {
    margin: 10% 5% 0 5%;
}

.pages {
    margin: 5% 5% 0 5%;
}

.readstatus {
    margin: 5% 5% 0 5%;
}









/* form css now */
.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    background: white;
    height: 480px;
    width: 600px;
}

.form h2 {
    font-family: 'roboto', sans-serif;
    margin-bottom: 2%;
}

.input-field {
    width: 460px;
    height: 25px;
    margin-bottom: 3%;
}


.title-form{
    margin-left: 10%;
}

.author-form {
    margin-left: 10%;
}

.pages-form {
    width: 50%;
    margin-left: 10%;
    display: inline-block;
}

.pages-form input{
    width: 200px;
}


.read-status-form {
    display: inline-block;
}


.close-form {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 30px;
}

.form button {
    display: block;
    margin: 5% auto 0 auto;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    
    height: 40px;
    width: 200px;
    
}